In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [7]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  2  3  3  4  6
1  2  2  4  2  9
2  9  5  3  6  2
3  9  5  3  7  5
4  4  5  2  6  4

In [4]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [9]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        2        3        3        4        6
1        2        2        4        2        9
2        9        5        3        6        2
3        9        5        3        7        5
4        4        5        2        6        4

In [10]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        2        3        3        4        6
1        2        2        4        2        9
2        9        5        3        6        2
3        9        5        3        7        5
4        4        5        2        6        4